@model bloggingPortal.Models.Blog

@using bloggingPortal.Models
@using bloggingPortal.Controllers
@using Microsoft.AspNet.Identity
@using System.Web

@{
    ViewData["Title"] = "Blog";
}

<h2>@Model.Title</h2>
<p>@Model.Summary</p>
<p>@Model.Body</p>


<hr />
<h3>Comments</h3>

@*@if(Model.Comments != null) {*@
    @foreach (var comment in Model.Comments)
    {
    <div class="comment">
        <small>@comment.DateTime | @comment.UserName</small>
        <p>@comment.Body</p>
        <hr />
    </div>
    }
@*  }*@

@using (Html.BeginForm())
{
    <br />
    <p>Author: @Html.TextBox("NewComment.UserName")</p><br />
    <p>Text : @Html.TextArea("NewComment.Body")</p><br />
    <p><input type="submit" value="Submit" /></p>

}

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
